.container1 {
  width: 100%;
  height: 490px;
  color: white;
  position: relative;
}
.container1 img {
  width: 100vw;
  max-height: 490px;
}
.backgr {
  position: absolute;
  z-index: -1;
}
.footer-logo {
  font-size: 40px;
  font-family: Koulen;
  color: #e2dddd;
  width: fit-content;
  position: absolute;
  top: 90px;
  left: 70px;
}
.footer-wrapper {
  display: flex;
  column-gap: 75px;
  position: absolute;
  right: 70px;
  top: 180px;
}
.res{
  margin-right: 50px;
}
.footer-li {
  display: flex;
  column-gap: 75px;
}
.footer-li li {
  font-family: KoHo;
  font-size: 20px;
}
.footer-li li:hover{
  text-decoration: underline;
  color: lightgray;
}
.line {
  width: 90%;
  border: 1px solid rgb(139, 139, 139);
  position: relative;
  top: 245px;
  margin: auto;
}
.rights {
  position: absolute;
  bottom: 110px;
  font-family: 20px;
  left: 70px;
  color: rgb(177, 177, 177);
  font-family: Konkhmer Sleokchher;
}
.footer-logos {
  position: absolute;
  bottom: 110px;
  right: 100px;
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.footer-logo-bottom img {
  width: 30px;
  height: 30px;
}
.footer-logo-bottom:first-child img{
  width: 25px;
  height: 25px;
  margin-bottom: 4px;
}